header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    background: rgb(193, 200, 232);
  }
  
  main {
    width: 80%;
    margin: 0 auto;
    flex: 1;
  }
  
  footer {
    display: flex;
    justify-content: center;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  h1{
    color:rgb(0, 41, 88);
  }
  
  .container {
    flex-direction: row;
}
    
@media only screen and (max-width: 576px) {
    .container {
        flex-direction: column;
    }
}
 
